body {
    padding: 0;
    margin: auto 10% auto 10%;
    border: 0;
    font: inherit;
    font-size: 14px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: underline;
    color: #000000;
}
a:hover {
    font: bold;
    color: #800000;
}
li {
    font-size: 1.1em
}
.content {
    text-align: left;
    width: 70%; 
}
.header {
    text-align: center;
}
.header ul {
    width: 70%;
    margin: auto;
    font-size: 14px;
}
.header li {
    display: inline;
    padding: 10px;
}
.section {
    display: flex;
    text-align: left;
    padding-left: 40px;
}

.section .section-header {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}

.section .section-content {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
}
.section-content li {
    list-style-type: none;
}
.section-content .underpoint {
    list-style-type: disc;
    margin-left: 4em;
}
