body{
    background-image: url("Body-Green-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    border: 0;
    margin: 0 auto;
    font: inherit;
    font-size: 16px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #e4e8e3;   
}
h2 {
    font-size: 1.75em;
    font-weight: 100;
    margin: 0 auto 0 auto;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0 20px 0;
}
hr {
    width: 70%;
    color: black;
    border-style: solid;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #e4e8e3;
    text-decoration: underline;
}
.header {
    background: url("Header-Green-Background.jpg");
    padding: 20px 0 20px 0;
}
.content {
    text-align: center;
}
.tagline {
    padding: 30px 0 20px 0;
}
.tagline h2 {
    width: 70%;
}
.projects ul, .badges ul, .languages ul, .skills ul {
    text-align: center;
    list-style-type: none;
}
.projects li, .badges li, .skills li, .languages li, .footer li{
    margin-bottom: 20px;
}
.projects li, .badges li {
    display: inline-block;
    padding: 1em;
}
.projects img {
    max-width: 70%;
    max-height: 70%;
}
.badges img {
    padding-right: 10px;
    max-width: 80%;
    max-height: 80%;
}
.badges p {
    margin: 0;
}
.badges a {
    font-weight: normal;
}
.badges ul {
    margin: 0 auto;
    width: 80%;
}
.skills li, .languages li {
    background-color: #e4e8e3;
    color: #000000;
    font-weight: bold;
    display: inline; 
    padding: 15px;
}
.skills ul, .languages ul {
    margin: 2em;
}
.languages {
    margin-bottom: 20px;
}
.skills h3, .languages h3 {
    background-color: #bde802;
    color: #000000; 

}
.footer {
    text-align: center;
    padding: 50px 0 0 0;

}
.footer li{
    background-color: #bde802;
}


